main {
    text-align: center;
}

div {
    margin-top: 50px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px; 
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Warning {
    background-color: #ffc107;
}

.Success {
    background-color: #28a745;
}

.Error {
    background-color: #dc3545;
}